<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Fiscal Fitness | Help</title>
  </head>
  <body>
  	<h1>Help</h1>
		<p>
			Find me in app/views/static_pages/help.html.erb
		</p>
  </body>
</html>



