<% provide(:title, 'Fiscal Fitness') %>

<div id="slide">
  <h1 class="center">Welcome to Fiscal Fitness</h1>

  <p>
    <strong>This is a highly interactive personal finance course designed to save you money.</strong>
  </p>

  <p>
    Every dollar you spend has financial implications that will affect you for the rest of your life.
  </p>

  <p>
     <strong>You either need to start watching your money or someone else will for you.</strong>
  </p>

  <p>
    Let&apos;s start with the most basic and fundamental topic of finance. Time Value of Money
  </p>

  <div class="center">
    <%= link_to "Take Course", {:controller => :interest_rates, :action => :slide2}, class: "button" %>
  </div>
</div>
