<div class="center hero-unit">
	<h1>Welcome to Fiscal Fitness</h1>
	<p>
		This is the home page for a high interactive online personal finance course.
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<%= link_to "Take Course", :controller => :interest_rates, :action => :intro %>