<div id="slide">
  <h1 class="center">Welcome to Fiscal Fitness</h1>
  <p class="center">
    This is the home page for a high interactive online personal finance course.
  </p>

  <div class="center">
    <%= link_to "Take Course", {:controller => :interest_rates, :action => :slide1}, class: "button" %>
  </div>
</div>
