<% provide(:title, 'Home') %>

<div id="slide">
  <h1 class="center">Welcome to Fiscal Fitness</h1>

  <p>
    This is highly interactive personal finance course
  </p>

  <p>
    After completing these 9 short interactive slides, you will have a life changing understanding of:
  </p>

  <ol>
    <li>The immense power of Interest Rates.</li>
    <li>Why investing is so important.</li>
    <li>How much debt actually costs.</li>
  </ol>

  <p>
    Click the link bellow to begin you journey toward financial independence.
  </p>

  <div class="center">
    <%= link_to "Start Course", interest_rate_path(2), class: "button" %>
  </div>
</div>

