/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
/* mixins, variables, etc. */
/* universal */
html {
  overflow-y: scroll; }

body {
  background-color: white; }

section {
  overflow: auto; }

textarea {
  resize: vertical; }

.center {
  text-align: center; }

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: green; }

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin: 15px 15px 15px 0px;
  font-weight: normal; }

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 15px 0px 15px 0px; }

input {
  text-align: right; }

table {
  margin: 15px 0px 15px 0px;
  border: 1px solid black; }

table td, th {
  border: 1px solid black; }

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1; }
  #logo:hover {
    color: white;
    text-decoration: none; }

nav li {
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
  clear: both;
  float: center; }

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #eaeaea; }
  footer a {
    color: #eaeaea; }
    footer a:hover {
      color: #d1d1d1; }
  footer small {
    float: left; }
  footer ul {
    float: right;
    list-style: none; }
    footer ul li {
      float: left;
      margin-left: 10px; }

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px; }

input {
  height: auto !important; }

#error_explanation {
  color: #f00; }
  #error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0; }
