  <p>
    <strong>Now it's time to think. Which would you prefer?</strong>
  </p>

  <p>
    <button class="btn button" id="20today" data-toggle="modal" data-target="#myModal">$20 Today</button>
    <button class="btn button" id="25twoWeeks" data-toggle="modal" data-target="#myModal">$25 in Two Weeks</button>
  </p>

  <p>
    Time Value of Money, starts to get interested when the amount of money received today is different from the amount of money received in the future. 
  </p>