<a class="feedbackButton" id="feedback_button">Feedback</a>

<div class="feedbackModal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="closeFeedbackModal">×</button>
      <div class="feedback_modal">
        <div id="feedback_header">
          Feedback
        </div>
        <div id="feedback_body">
          <%= form_for(@feedback) do |f| %>
            <div>
              <%= f.text_area :general, rows: 10, cols: 48, class: "feedback_general", placeholder: 'We Love detailed feedback!' %>
            </div>
            <div>
              <%= f.text_field :email, class: "feedback_general", placeholder: 'Email' %>
            </div>
            <div class="center">
              <%= f.submit "Submit", class: "button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>