// mixins

//Colors
$gray: #eaeaea;
$white: #FFFFFF;
$black: #000000;
$shadow: #28261f;
$green: #008000;
$button-green: #42ab18;
$button-red: #ab1842;
$dark-red: #691616;
$main-background: #FFFFFF;

//Font
$font-base: arial;

//Mixins
@mixin rounded-corners ($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: $main-background;
  // Size and spacing of the default font
  font: normal 16px/1.5 $font-base;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: $green;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 15px 15px 0px;
  padding: 1px;
  border-bottom: 3px solid $dark-red;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  margin: 10px 0px 10px 0px;
}

div {
  font-size: 1em;
  line-height: 1.2em;
}

input {
  text-align: right;
}

table {
  margin: 15px 0px 15px 0px;
  border: 1px solid $black;
}

table td, th {
  border: 1px solid $black;
  padding: 1px 3px 1px 3px;
  font-size: 16px;
}

/* Positioning */

.center {
  text-align: center;
}

.container {
  clear: both;
  margin: 0 auto;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 30px;
}

/* Navigation */

nav ul {
  max-margin-right: 30px;
  padding: 5px 5px 5px 5px;
}

nav li {
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;  
}

.nav_container {
  max-width: 970px;
  margin: 0 auto;
}

/* header */

header {
  height: 45px;
  border-bottom: 1.5px solid;
  margin-bottom: 15px;
  padding: 5px;

  #logo {
    float: left;
    margin-left: 10px;
    font-size: 2em;
    color: $green;
    padding: 15px 5px 10px 5px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: lighten($green, 5%);
      text-decoration: none;
    }
  }
  a {
    color: $green;
    &:hover {
      color: lighten($green, 5%);
    }
  }
  ul {
    float: right;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid lighten($black, 50%);
  color: lighten($black, 50%);
  a {
    color: $green;
    &:hover {
      color: lighten($green, 5%);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/*///////////*/
/* Modal CSS */
/*///////////*/

/* http://blog.avtex.com/2012/01/26/cross-browser-css-only-modal-box/ */

.dumbBoxWrap { /* The dic that shows/hides */
  display: none; /* Start out hiddden */
  z-index: 4001; /* high z-index */
}

.vertical-offset {
  position: fixed;
  top: 16%; //How far from the top the offset is
  width: 100%;
  z-index:4002;
}

.dumbBox {
  max-width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
  border: 1px solid $black;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  background-clip: padding-box;
}

.closeModal, .closeFeedbackModal {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: .5;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

.modal_content {
  padding: 4px 10px 4px 10px;
  margin: 15px 0 15px 0;
  text-align: center;
}

#feedback_button {
  position: fixed;
  z-index: 1000;
  background-color: $black;
  color: $gray;
  left: -36px;
  top: 120px;
  padding: 1px 5px 1px 5px;
  text-decoration: none;
  -moz-transform: rotate(-90deg);  /* FF3.5+ */
  -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
  //filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  //-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
  &:hover {
    color: $white;
  }
}

.feedback_modal {
  padding: 5px 20px 5px 20px;
  margin: 15px 0 15px 0;
}

#feedback_header {
  border-bottom: 2px solid;
  text-align: left;
  font-weight: bold;
}

#feedback_body {
  margin:  6px 0 6px 0;
}

.feedback_general {
  text-align: left;
  max-width: 350px;
  width: 350px;
  height: 150px;
  padding: 5px;
  font-size: small;
  margin: 5px;
}

.feedback_email {
  text-align: left;
  font-size: small;
  margin: 5px;
}

/*/////////*/
/* Buttons */
/*/////////*/

/*http://css-tricks.com/examples/ButtonMaker/#*/
.button {
  border-top: 1px solid lighten($button-green, 12%);
  border-bottom: none;
  border-right: none;
  border-left: none;
  background: $button-green;
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($button-green, 8%)), to($button-green));
  background: -webkit-linear-gradient(top, lighten($button-green, 8%), $button-green);
  background: -moz-linear-gradient(top, lighten($button-green, 8%), $button-green);
  background: -ms-linear-gradient(top, lighten($button-green, 8%), $button-green);
  background: -o-linear-gradient(top, lighten($button-green, 8%), $button-green);
  padding: 5.5px 11px;
  @include rounded-corners (8px);
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: $white;
  font-size: 15px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer; 
  cursor: hand;

  a {
    text-decoration: none;
  }

  &:hover {
    border-top-color: darken($button-green, 1%);
    border-bottom: none;
    border-right: none;
    border-left: none;
    background: darken($button-green, 1%);
    color: $gray;
  }
  &:active {
    border-top-color: darken($button-green, 1%);
    background: darken($button-green, 1%);
  }

  &.bad {
    border-top: 1px solid lighten($button-red, 12%);
    background: $button-red;
    background: -webkit-gradient(linear, left top, left bottom, from(lighten($button-red, 8%)), to($button-red));
    background: -webkit-linear-gradient(top, lighten($button-red, 8%), $button-red);
    background: -moz-linear-gradient(top, lighten($button-red, 8%), $button-red);
    background: -ms-linear-gradient(top, lighten($button-red, 8%), $button-red);
    background: -o-linear-gradient(top, lighten($button-red, 8%), $button-red);
    &:hover {
      border-top-color: darken($button-red, 30%);
    }
  }
}

//////////
//Notice//
//////////

//Right now there is one used styling
.alert {
  max-width: 850px;
  text-align: left;
  background-color: rgb(161,195,0);
  background-color: rgba(161,195,0,.8);
  color: #fff;
  padding: 3px 8px 3px 17px;
  text-shadow: rgba(99,130,0,.75) 1px 1px 1px;
  font-size :21px;
  @include rounded-corners (3px);
  &.warning {
    background-color: #800;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 5px;
}

