<% provide(:title, 'Interest Rates Conclusion') %>

<h1>Conclusion</h1>

<p>
	Interest Rates are extremely powerful tool. 
</p> 

<p> 
	There is a coommon issue with people that allows them to accept instance gradification. X% of people taking this course preferred $20 today as opposed to $25 in a week. Were you one of them?
</p>

<p>
	This is due to the psychological actions of humans overvaluing the weight of current gradification.
<p>

<p> 
	Think, if you stand close to a nice small house, that house is all you can see. However, there could be a skyscrapper of wealth behing it. All you need to do is take a few steps backwards to change your perspective for life and seek out amazing goals. 
</p>

<div>JAVASCRIPT LOGO OF PERSON LOOKING AT BUILDING AND MOVING BACKWARDS</div>

<%= link_to "Back to Home", root_path, id: "logo" %>