<% provide(:title, 'EAR vs. APR') %>

<h1>EAR vs. APR</h1>

<p>
	EAR vs APR is a Common Trick to confuse borrowers
</p> 

<p>
	“APR states the simple interest earned in a year, ignoring any compounding within the year, whereas EAR states the actual interest earned in the year, since it takes into account the compounding”  
</p>

<%= link_to "Take Course", :controller => :interest_rates, :action => :irates_earn %>