<% provide(:title, 'Interest Rates') %>

<h1>Welcome to Fiscal Fitness</h1>
<p>
	As you move on to adulthood your path through college will set the groundwork for the rest of your life. We want to provide you with the basic knowledge to succeed on your path toward financial independence.
</p>

<p>
	IN OTHER WORDS, THIS COURSE IS DESIGNED TO MAKE YOU MONEY!!
</p>

<p>
	Every dollar you spend has financial implications that will affect you for the rest of your life. Chances are you have already been targeted by various financial institutions as a new potential revenue source.
</p>

<p>
	You can EITHER START WATCHING YOUR MONEY or SOMEONE ELSE WILL WATCH IT FOR YOU.
</p>

<p>
	Let’s start with the most basic and fundamental topic of finance. That during the middle ages gave Merchants power than Kings.
</p>

<%= link_to "Take Course", :controller => :interest_rates, :action => :tvm %>