<% provide(:title, 'Interest Rates Changing') %>

<h1>Why do Interest Rates Change?</h1>

<p>
	As shown in the previous graph there are three variable that affect your future earnings. The amount you contribute to your savings, the length of time you make those payments are easy to change. It is the interest rate portion, of the equation which is most important to understand.
</p>

<p>
	The most important thing to understand is that the LESS LIKELY some is to pay money back that they borrowed the _________ interest rate. 
</p>

<div>BOTTON Up Arrow</div>
<div>BOTTON Down Arrow</div>

<%= link_to "Take Course", :controller => :interest_rates, :action => :ear_apr %>