<% provide(:title, 'Interest Rates COST') %>

<h1>What will Interest Rates COST you?</h1>

<p>
	Now, Unfortunately for you, individual borrowers are much less likely to pay off their debts. Therefore are interest rates going to be . . . 
</p> 

<div>BUTTON Higher or Lower</div>

<p> 
	Now remember these are some of the costs you could expect to pay.
</p>

<table border="1">
	<tr>
		<td></td>
		<td>Mortgage</td>
		<td>Auto Loans</td>
		<td>Student Loans</td>
		<td>Credit Card Debt</td>
		<td>Question 1</td>
	</tr>
	<tr>
		<td>EAR</td>
		<td>4.5%</td>
		<td>12%</td>
		<td>15%</td>
		<td>23%</td>
		<td>500%</td>
	</tr>
</table>

<div>INSERT JAVASCRIPT GRAPH HERE</div>

<%= link_to "Take Course", :controller => :interest_rates, :action => :conclusion %>