<% provide(:title, 'Interest Rates Earn') %>

<h1>What will Interest Rates EARN you?</h1>

<p>
	Let’s look at some common interest rates that you may already be experiencing. Starting with what you can expect to earn. 
</p> 

<table border="1">
	<tr>
		<td></td>
		<td>Checking Account</td>
		<td>Certified Deposit</td>
		<td>Treasury Bonds</td>
		<td>Stocks</td>
		<td>Question 1</td>
	</tr>
	<tr>
		<td>EAR</td>
		<td>3%</td>
		<td>6%</td>
		<td>13%</td>
		<td>15%</td>
		<td>500%</td>
	</tr>
</table>

<div>INSERT JAVASCRIPT GRAPH HERE</div>

<%= link_to "Take Course", :controller => :interest_rates, :action => :irates_cost %>