<% provide(:title, 'Millionaire') %>

<h1>Let's Make A Million Dollars</h1>
<p>
	So within any time value of money there exists three components
</p>

<div>Interest Rates</div>
<div>Number of Periods</div>
<div>Number of Payments</div>

<div>
	Insert JavaScript TVM Graph Here!!>
</div>

<%= link_to "Take Course", :controller => :interest_rates, :action => :irateschange %>