<% provide(:title, 'Interest Rates') %>

<div id="slide">

  <div id="slide_number">
    Slide: 6/9
  </div>

  <h2>What can Interest Rates realistically EARN you?</h2>
    <p>
      Let&apos;s look at some actual interest rates that you can actually expect to earn. Remember, these rates are just approximations. The actual rate you will earn, can vary depending on the length of the investment and the amount of your payments.
    </p> 

    <p>
      Further, in the example of stocks, this rate is variable and at no point a guarantee. The higher the risk the greater the variance of the returns.
    </p>

    <p>
      Test out the following input Interest Rates:
    </p>

    <table class="approx_irates">
      <tr>
        <th>Checking Account</th>
        <th>Certified Deposit</th>
        <th>Treasury Bonds</th>
        <th>Stocks</th>
        <th>Question 1</th>
      </tr>
      <tr>
        <td>.04%</td>
        <td>.08%</td>
        <td>1.8%</td>
        <td>13%</td>
        <td>25%</td>
      </tr>
    </table>

  <div class="bothInterest" id="irate_form">
    <form  method=get id="iRateForm" role="form">
      <div class="form-group">
        <label for="mSavingContributions">Monthly Savings Contributions:</label>
        <input class="required form-control dollar_input tipSavings" id="pmt" type=number>
      </div>
      <div class="form-group">
        <label for="mInvestments">Length of Monthly Investments in Years:</label>
        <input class="required form-control dollar_input tipLength" id="numOfPeriods" type=number name=numOfPeriods>
      </div>
      <div class="form-group">
        <label for="interest">Interst Rate:</label>
        <div class="percent_style">%</div>
        <input class="required form-control interest_input tipInterset" id="interest" type=number>
      </div>
      <div class="center">  
        <button type="submit" class="button" id="howMuch">
          How much will you Save?
        </button>
      </div>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(173, 216, 230);"></div><span class="label">Interest Income</span></li><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">No Interest Income</span></li></ul>
    </div>
  </div>

  <div id="irate_form">
    <div class="form-group">
      <label for="totalInterest">Total Savings With Interst Rates:</label>
      <input class="form-control total_input" id="totalInterest" name=total value="0.00">
    </div>
    <div class="form-group">
      <label for="totalNoInterest">Total Savings without Interest Rates:</label>
      <input class="form-control total_input" id="totalNoInterest" name=total value="0.00">
    </div>
    <div class="form-group">
      <label for="totalInterest">Extra Income:</label>
      <input class="form-control total_input" id="difference" name=total value="0.00">
    </div>
  </div>

    <div class="bottom_left">
      <%= link_to "Back", interest_rate_path(5), class: "button" %>
    </div>

    <div class="bottom_right">
      <%= link_to "Next", interest_rate_path(7), class: "button" %>
    </div>
</div>
