<% provide(:title, 'Interest Rates') %>

<div id="slide">

  <div id="slide_number">
    Slide: 4/9
  </div>

  <h2>Can You Save One Million Dollars with Interest?</h2>

  <p>
    In the Time Value of Money equation there always exists three components:
  </p>
  <p class="center">
    Amount of Payments | Number of Payments | Interest Rate
  </p>
  <p>
    Let's give the previous example another attempt, but this time you get to use the power of interest rates. 
  </p>

  <div class="withInterest" id="irate_form">
    <form  method=get id="iRateForm" role="form">
      <div class="form-group">
        <label for="mSavingContributions">Monthly Savings Contributions:</label>
        <input class="required form-control dollar_input tipSavings" id="pmt" type=number>
      </div>
      <div class="form-group">
        <label for="mInvestments">Length of Monthly Investments in Years:</label>
        <input class="required form-control dollar_input tipLength" id="numOfPeriods" type=number name=numOfPeriods>
      </div>
      <div class="form-group">
        <label for="interest">Interst Rate:</label>
        <div class="percent_style">%</div>
        <input class="required form-control interest_input tipInterset" id="interest" type=number>
      </div>
      <div class="center form-group">  
        <button type="submit" class="button" id="howMuch">
          How much will you save?
        </button>
      </div>
      <div>
        <label for="totalSavings">Total Savings:</label>
        <input class="form-control" id="total" type=text value="0.00">
      </div>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(173, 216, 230);"></div><span class="label">Savings with Interest</span></li></ul>
    </div>
  </div>


  <div class="bottom_left">
    <%= link_to "Back", interest_rate_path(3), class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(5), class: "button" %>
  </div>
</div>