<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <h2>Conclusion</h2>
  <p>
    Hopefully, we can all agree now that interest rates are an extremely powerful tool. However, many people often ignore the consequences of high interest rates. 
  </p>

  <p>
    This is due to the psychological actions of humans over valuing the importance of current gratification as opposed to waiting a few days.
  <p>

  <p> 
    Think about if you stand close to a small house, that house is all you can see and you might be tempted to live there. However if you take a few steps back you might be able to see a skyscrapper of wealth behing it. This reveals the importance of delaying gratification and earning much more over the long run.
  </p>

  <p>
    Thank you for completing the first module of Fiscal Fitness, your highly interactive guide for persaonl finance.
  </p>

  <div class="bottom_left">
    <%= link_to "Back", {:controller => :interest_rates, :action => :slide8}, class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Finish", root_path, class: "button" %>
  </div>
</div>  