<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <h2>Can you Save One Million Dollars?</h2>

  <p>
    Have you ever said to yourself that you want to make a million dollar one day?. Well here is your chance.
  </p>

  <p>
    Please input your own monthy savings contribuitons on a monthly basis and the length of time you plan on making those savings contributions. Notice that in this example you are not earning any interest. 
  </p>

  <div class="withoutInterest" id="irate_form">
    <form  method=post id="iRateForm">
    <table>
      <tr>
        <td>Monthly Savings Contribution:</td>
        <td><input class="required" id="pmt" type=number></td>
      </tr>
      <tr>
        <td>Length of Monthly Investments:</td>
        <td><input class="required" id="numOfPeriods" type=number name=numOfPeriods>
          <select id="yearOrMonth" size=1>
            <option value="y">Years
            <option value="m">Months
          </select>
        </td>
      </tr>
      <tr>  
        <td class="center" colspan = "2">
          <button class="button" id="howMuch">
            How much will you save?
          </button>
        </td>
      </tr>
      <tr>
        <td>Total Savings:</td>
        <td>
          <input id="total" type=text value="0.00">
        </td>
      </tr>
    </table>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">Total Savings</span></li></ul>
    </div>
  </div>

  <div class="bottom_left">
    <%= link_to "Back", {:controller => :interest_rates, :action => :slide2}, class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", {:controller => :interest_rates, :action => :slide4}, class: "button" %>
  </div>
</div>
