<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <h2>What will Interest Rates COST you?</h2>

  <p>
    Honestly, we here at Fiscal Fitness don't think we can make you a millionaire. We can, however, give you the knowledge to defend yourself against predatory lenders and stop making the rich richer.
  </p>

  <p>
    Let's take a looks at some common interest rate expenses you are likely to pay in your life. Notice, how these rates are all higher than the interest rates an individual is expected to earn.
  </p>

  <p>
    Please test out the following Interest Rates:
  </p>

  <table class="approx_irates">
    <tr>
      <th>Mortgage</th>
      <th>Auto Loans</th>
      <th>Student Loans</th>
      <th>Credit Card Debt</th>
      <th>Question 1</th>
    </tr>
    <tr>
      <td>4.39%</td>
      <td>3.00%</td>
      <td>3.90%</td>
      <td>14.95%</td>
      <td>25%</td>
    </tr>
  </table>


  <div id="irate_form">
    <form  method=get id="iRateForm" role="form">
      <div class="form-group">
        <label for="mSavingContributions">Monthly Payments:</label>
        <input class="required form-control" id="pmt" type=number>
      </div>
      <div class="form-group">
        <label for="mInvestments">Length of Monthly Payments:</label>
        <input class="required form-control" id="numOfPeriods" type=number name=numOfPeriods>
      </div>
      <div class="form-group">
        <label for="interest">Interst Rate:</label>
        <input class="required form-control" id="interest" type=number name=interest>
      </div>
      <div class="center">  
        <button type="submit" class="bad button" id="howMuch">
          How much does Debt Cost?
        </button>
      </div>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(173, 216, 230);"></div><span class="label">Interest Expense</span></li><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">No Interest Expense</span></li></ul>
    </div>
  </div>

  <div id="irate_form">
    <div>
      <label for="totalInterest">Total Expense including Interst Rates:</label>
      <input class="form-control" id="totalInterest" name=total value="0.00">
    </div>
    <div>
      <label for="totalNoInterest">Total Expense without Interest Rates:</label>
      <input class="form-control" id="totalNoInterest" name=total value="0.00">
    </div>
    <div>
      <label for="totalInterest">Extra Spent:</label>
      <input class="form-control" id="difference" name=total value="0.00">
    </div>
  </div>

  <div class="bottom_left">
    <%= link_to "Back", interest_rate_path(7), class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(9), class: "button" %>
  </div>
</div>

