<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <h2>How much extra are you saving with interest?</h2>
  <p>
    Lets check out exactly how much you are earning, through the use of interest rates. 
  </p>

  <p>
    See if you can generate an additional $100,000 of Extra Income, that you would not have otherwise received if it wasn't for interest rates.
  </p>

  <div class="bothInterest" id="irate_form">
    <form  method=post id="iRateForm">
    <table>
      <tr>
        <td>Monthly Investments:</td>
        <td><input class="required" id="pmt" type=number size=13 maxlength=13></td>
      </tr>
      <tr>
        <td>Length of Monthly Investments:</td>
        <td><input class="required" id="numOfPeriods" type=number size=6 maxlength=3>
          <select id="yearOrMonth" size=1>
            <option value="y">Years
            <option value="m">Months
          </select>
        </td>
      </tr>
      <tr>
        <td>Interest Rate:</td>
        <td><input class="required" id="interest"  type=text size=6 maxlength=5><b> %</b></td>
      </tr>
      <tr>
        <td class="center" colspan = "2">
          <button class="button" id="howMuch">
            How much extra savings are you getting?
          </button>
        </td>
      </tr>
      <tr>
        <td>Total Savings with Interest:</td>
        <td>
          <input id="totalInterest" type=text name=total value="0.00" size=20>
        </td>
      </tr>
      <tr>
        <td>Total Savings with out Interest:</td>
        <td>
          <input id="totalNoInterest" type=text name=total value="0.00" size=20>
        </td>
      </tr>
      <tr>
        <td>Extra Income:</td>
        <td>
          <input id="difference" type=text name=total value="0.00" size=20>
        </td>
      </tr>
    </table>
    </form>
  </div>

  <div id="chart_container">
    <div id="chart"></div>
    <div id="x_axis">
      <svg height="48" width="605" class="rickshaw_graph x_axis_d3" style="position: relative; left: -27px;"><g class="x_ticks_d3 plain" transform="translate(27,48)"><g class="tick" transform="translate(0,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">0</text></g><g class="tick" transform="translate(83.33333333333333,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">20</text></g><g class="tick" transform="translate(166.66666666666666,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">40</text></g><g class="tick" transform="translate(250,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">60</text></g><g class="tick" transform="translate(333.3333333333333,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">80</text></g><g class="tick" transform="translate(416.6666666666667,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">100</text></g><g class="tick" transform="translate(500,0)" style="opacity: 1;"><line y2="-4" x2="0"></line><text y="-7" x="0" dy="0em" style="text-anchor: middle;">120</text></g><path class="domain" d="M0,-4V0H500V-4"></path></g></svg>
    </div>
    <div id="y_axis">
      <svg class="rickshaw_graph y_axis" width="50" height="231.00000000000003" style="position: relative; top: -21px;"><g class="y_ticks plain" transform="translate(50, 21)"><g class="tick" transform="translate(0,210)" style="opacity: 1;"><line x2="-4" y2="0"></line><text x="-7" y="0" dy=".32em" style="text-anchor: end;"></text></g><g class="tick" transform="translate(0,97.22051985511527)" style="opacity: 1;"><line x2="-4" y2="0"></line><text x="-7" y="0" dy=".32em" style="text-anchor: end;">100K</text></g><path class="domain" d="M-4,0H0V210H-4"></path></g></svg> 
    </div>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(173, 216, 230);"></div><span class="label">Interest Income</span></li><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">No Interest Income</span></li></ul>
    </div>
  </div>

  <div class="bottom_left">
    <%= link_to "Back", {:controller => :interest_rates, :action => :slide4}, class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", {:controller => :interest_rates, :action => :slide6}, class: "button" %>
  </div>
</div>
