<% provide(:title, 'Interest Rates') %>

<div id="slide">

  <div id="slide_number">
    Slide: 5/9
  </div>

  <h2>How much extra can you save with interest?</h2>
  <p>
    Let's check out exactly how much you are earning, through the use of interest rates. 
  </p>

  <p>What you are actually doing here is Investing, not just saving.</p> 

  <p>
    See if you can generate an additional $100,000 of Extra Income that you would not have otherwise received if it wasn't for interest rates.
  </p>


  <div class="bothInterest" id="irate_form">
    <form  method=get id="iRateForm" role="form">
      <div class="form-group">
        <label for="mSavingContributions">Monthly Savings Contributions:</label>
        <input class="required form-control dollar_input tipSavings" id="pmt" type=number>
      </div>
      <div class="form-group">
        <label for="mInvestments">Length of Monthly Investments in Years:</label>
        <input class="required form-control dollar_input tipLength" id="numOfPeriods" type=number name=numOfPeriods>
      </div>
      <div class="form-group">
        <label for="interest">Interst Rate:</label>
        <div class="percent_style">%</div>
        <input class="required form-control interest_input tipInterset" id="interest" type=number>
      </div>
      <div class="center">  
        <button type="submit" class="button" id="howMuch">
          Addtional Savings
        </button>
      </div>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(173, 216, 230);"></div><span class="label">Interest Income</span></li><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">No Interest Income</span></li></ul>
    </div>
  </div>

  <div id="irate_form">
    <div class="form-group">
      <label for="totalInterest">Total Savings with Interst Rates:</label>
      <input class="form-control total_input" id="totalInterest" name=total value="0.00">
    </div>
    <div class="form-group">
      <label for="totalNoInterest">Total Savings without Interest Rates:</label>
      <input class="form-control total_input" id="totalNoInterest" name=total value="0.00">
    </div>
    <div class="form-group">
      <label for="totalInterest">Extra Income:</label>
      <input class="form-control total_input" id="difference" name=total value="0.00">
    </div>
  </div>

  <div class="bottom_left">
    <%= link_to "Back", interest_rate_path(4), class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(6), class: "button" %>
  </div>
</div>
