 <% provide(:title, 'Interest Rates') %>

<div id="slide">

  <div id="slide_number">
    Slide: 3/9
  </div>

  <h2>Can You Save One Million Dollars?</h2>

  <p>
    Have you ever said to yourself that you want to make a million dollar one day? Well here is your chance.
  </p>

  <p>
    Please input your own monthly savings contributions on a monthly basis and the length of time you plan on making those savings contributions. Notice that in this example you are not earning any interest. 
  </p>

  <div class="withoutInterest" id="irate_form">
    <form method=get id="iRateForm" role="form">
      <div class="form-group">
        <label for="mSavingContributions">Monthly Savings Contributions:</label>
        <input class="required form-control dollar_input tipSavings" id="pmt" type=number>
      </div>
      <div class="form-group">
        <label for="mInvestments">Length of Monthly Investments in Years:</label>
        <input class="required form-control dollar_input tipLength" id="numOfPeriods" type=number name=numOfPeriods>
      </div>
      <div class="center">  
        <button type="submit" class="button" id="howMuch">
          How much will you save?
        </button>
      </div>
      <div>
        <label for="totalSavings">Total Savings:</label>
        <input class="form-control" id="total" type=text value="0.00">
      </div>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">Total Savings</span></li></ul>
    </div>
  </div>

  <div class="bottom_left">
    <%= link_to "Back", interest_rate_path(2), class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(4), class: "button" %>
  </div>
</div>
