<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <div id="slide_number">
    Slide: 8/9
  </div>

  <h2>What will Interest Rates COST you?</h2>

  <p>
    We saved the most important slide for last.
  </p>

  <p>
    Honestly, we here at Fiscal Fitness don't think we can make you a millionaire. We can, however, give you the knowledge to defend yourself against predatory lenders.
  </p>

  <p>
    Let's take a looks at some common interest rate expenses you are likely to pay in your life. Notice, how these rates are all higher than the interest rates you as an individual can expect to earn.
  </p>

  <p>
    Please test out the following Interest Rates:
  </p>

  <table class="approx_irates">
    <tr>
      <th>Mortgage</th>
      <th>Auto Loans</th>
      <th>Student Loans</th>
      <th>Credit Card Debt</th>
      <th>Question 1</th>
    </tr>
    <tr>
      <td>4.39%</td>
      <td>3.00%</td>
      <td>3.90%</td>
      <td>14.95%</td>
      <td>25%</td>
    </tr>
  </table>

  <div id="irate_form">
    <form  method=get id="iRateForm" role="form">
      <div class="form-group">
        <label for="mSavingContributions">Monthly Payments:</label>
        <input class="required form-control dollar_input tipSavings" id="pmt" type=number>
      </div>
      <div class="form-group">
        <label for="mInvestments">Length of Monthly Payments in Years:</label>
        <input class="required form-control dollar_input tipLength" id="numOfPeriods" type=number name=numOfPeriods>
      </div>
      <div class="form-group">
        <label for="interest">Interst Rate:</label>
        <div class="percent_style">%</div>
        <input class="required form-control interest_input tipInterset" id="interest" type=number>
      </div>
      <div class="center">  
        <button type="submit" class="bad button" id="howMuch">
          How much will debt Cost?
        </button>
      </div>
    </form>
  </div>

  <div id="chart_container">
    <%= render 'shared/default_graph' %>
    <div id="legend" class="rickshaw_legend">
      <ul><li class="line"><div class="swatch" style="background-color: rgb(173, 216, 230);"></div><span class="label">Interest Expense</span></li><li class="line"><div class="swatch" style="background-color: rgb(70, 130, 180);"></div><span class="label">No Interest Expense</span></li></ul>
    </div>
  </div>

  <div id="irate_form">
    <div class="form-group">
      <label for="totalInterest">Total Expense including Interst Rates:</label>
      <input class="form-control total_input" id="totalInterest" name=total value="0.00">
    </div>
    <div class="form-group">
      <label for="totalNoInterest">Total Expense without Interest Rates:</label>
      <input class="form-control total_input" id="totalNoInterest" name=total value="0.00">
    </div>
    <div class="form-group">
      <label for="totalInterest">Extra Spent:</label>
      <input class="form-control total_input" id="difference" name=total value="0.00">
    </div>
  </div>

  <div class="bottom_left">
    <%= link_to "Back", interest_rate_path(7), class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(9), class: "button" %>
  </div>
</div>

