<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <h2>Time Value of Money</h2>
  <p>
    Let me start by asking you a simple question.
  </p>

  <p>
    <strong>Which would you prefer?</strong>
  </p>

  <p>
    <button class="btn button" id="aDollarToday" data-toggle="modal" data-target="#myModal">A Dollar Today</button>
    <button class="btn button" id="aDollarTomorrow" data-toggle="modal" data-target="#myModal">A Dollar Tomorrow</button>
  </p>

  <p style="border-bottom: 1px solid; padding-bottom: 5px;">
    Time Value of Money is the idea that a dollar today is worth more than a dollar tommorow. This is because that dollar received today can earn <strong>INTEREST</strong> up until it is used. Having money for any given length of time is valuable. 
  </p>

  <p>
    <strong>Now it's time to think. Which would you prefer?</strong>
  </p>

  <p>
    <button class="btn button" id="20today" data-toggle="modal" data-target="#myModal">$20 Today</button>
    <button class="btn button" id="25twoWeeks" data-toggle="modal" data-target="#myModal">$25 in Two Weeks</button>
  </p>

  <p>
    If you receive extra money by waiting that is called interest and as you will see you it adds up to some large sums.
  </p>


  <div class="bottom_left">
    <%= link_to "Back", root_path, class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(3), class: "button" %>
  </div>
</div>