<% provide(:title, 'Interest Rates') %>

<div id="slide">
  <h2>Why are there different Interest Rates?</h2>

  <p>
    Out of the three variables that affect your savings: number of payments, length of those payments, and interest. Interest rate's cause the greatest amount of confusion.
  </p>

  <p>
    The most important thing to understand, without any government intervention, the <strong>LESS LIKELY</strong> the general population is to pay money back money they borrowed the _________ interest rates will be for everyone else. 
  </p>

  <div class="center">
    <button class="btn button" id="Higher" data-toggle="modal" data-target="#myModal">
      Higher 
    </button>
    <button class="btn button" id="Lower" data-toggle="modal" data-target="#myModal">
      Lower
    </button>
  </div>

  <p>
    If certain people start defaulting on their loans all of the other good paying people have to make up it for it. 
  </p>

  <p>
    For example, since students are at a high risk for defaulting on their student loans <strong>Everyone</strong> must pay a <strong>Higher</strong> interest rate.
  </p>

  <div class="bottom_left">
    <%= link_to "Back", interest_rate_path(6), class: "button" %>
  </div>

  <div class="bottom_right">
    <%= link_to "Next", interest_rate_path(8), class: "button" %>
  </div>
</div>
