<% provide(:title, 'Time Value of Money') %>

<h1>Time Value of Money</h1>
<p>
	Let me Start by asking you a simple question.
</p>

<p>
	What would you prefer?
</p>

<p>
	******BOTTON $20 Today | $25 in Two Weeks
</p>

<p>
	Let's get even easier. What would you prefer?
</p>

<p>
	*******BOTTON  A dollar today | A dollar tommorrow?
</p>

<p>
	Congradulations! This concept defintes the basics of personal finance. 
</p>

<p>
	<strong>Definition:</strong> Time Value of Money is the idea that a dollar today is worth more than a dollar in the future, because the dollar received today can earn INTEREST up until the time the future dollar is received.
</p>

<%= link_to "Take Course", :controller => :interest_rates, :action => :millionaire %>