<a href="#feedback" data-toggle="modal" class="feedbackButton" id="feedback_button">Feedback</a>

<div class="dumbBoxWrap" id="feedbackModal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="closeFeedbackModal">×</button>
      <div class="feedback_modal">
        <div id="feedback_header">
          Feedback
        </div>
        <div id="feedback_body">

        <%= render partial: "feedbacks/form", locals: { feedback: Feedback.new} %>

        </div>
      </div>
    </div>
  </div>
</div>