<a href="#feedbackModal" class="feedbackButton" id="feedback_button">Feedback</a>

<div class="dumbBoxWrap feedbackModal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="closeFeedbackModal">×</button>
      <div class="feedback_modal">
        <form  method=post class="feedback_form">
        <div id="feedback_header">
          Feedback
        </div>
        <div id="feedback_body">
          We love detailed feedback!
          <div>
            <input class="feedback_box" type=text>
          </div>
        </div>
          <div class="center" colspan = "2">
            <button class="button">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>