<a href="#feedbackModal" class="feedbackButton"></a>

<div class="dumbBoxWrap feedbackModal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="closeFeedbackModal">×</button>
      <div class="modal_content">
        <form  method=post class="feedback_form">
        <div class="feedback_header">
          We are working hard to improve our site. Please inform us with any improvements to the site you can think off. 
        </div>
          <div>
            <input class="required" class="feedback_box" type=text>
          </div>
          <div class="center" colspan = "2">
            <button class="button" id="howMuch">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>