<header>
  <div class="nav_container">
    <%= link_to "Fiscal Fitness", root_path, id: "logo" %>
    <nav> 
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
          <li>
            <%= link_to "Join Email List", signup_path %>
          </li>
      </ul>
    </nav>
  </s>
</header>