<!-- Modal -->
<div class="dumbBoxWrap modal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="closeModal">×</button>
      <div class="modal_content">
        We're Sorry. This Popup Malfunctioned. Please drop us a note in the feedback tab and we will be sure to fix it right away.
      </div>
    </div>
  </div>
</div>