<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal_content">
          We're Sorry. This Popup Malfunctioned. Please drop us a note in the feedback tab and we will be sure to fix it right away.
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="dumbBoxWrap modal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="close">×</button>
      <div class="modal_content">
        We're Sorry. This Popup Malfunctioned. Please drop us a note in the feedback tab and we will be sure to fix it right away.
      </div>
    </div>
  </div>
</div> -->