<!-- Modal -->
<div class="dumbBoxWrap modal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="close">×</button>
      <div class="modal_content">
        Please enable jQuery
      </div>
    </div>
  </div>
</div>