<!-- Modal -->
<div class="dumbBoxWrap modal">
  <div class="vertical-offset">
    <div class="dumbBox">
      <button type="button" class="close">×</button>
      <div class="modal_content">
        We're Sorry, but this Popup Malfunctioned. Please drop up a note in the feedback tab and we will be sure to fix it right away. 
      </div>
    </div>
  </div>
</div>